
.container {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    width: 400px;
    /* margin: 20px auto; */
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .number {
    min-width: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;

  }
  